body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

i{
  padding: 5px;
}

.legend{
  background-color: black;
  padding: 7px;
  border-radius: 5px;
  border: 4px solid white;
}
